[modules]
autoload=yes
preload => res_srtp.so
noload => chan_iax2.so
noload => chan_h323.so
noload => chan_sip.so
noload => res_odbc.so  ; Explicitly disable to avoid loading error
noload => res_phoneprov.so
noload => res_hep.so
noload => res_hep_rtcp.so
noload => res_hep_pjsip.so
noload => res_pjsip_notify.so
noload => app_agent_pool.so
noload => app_confbridge.so
noload => res_calendar.so
noload => res_parking.so
noload => cdr_csv.so
noload => cdr_sqlite3_custom.so
noload => cdr_manager.so
noload => cel_sqlite3_custom.so
noload => cel_manager.so
noload => app_amd.so
noload => app_alarmreceiver.so
noload => app_followme.so
noload => chan_unistim.so
noload => pbx_dundi.so
noload => pbx_ael.so
noload => app_festival.so
noload => res_prometheus.so
noload => app_queue.so
load => res_pjsip.so
load => res_pjsip_transport_websocket.so
{% if webrtc_enabled | default(false) %}
load => res_http_websocket.so
{% endif %}